@import "../../partials/colors";

.faq{
    margin: 20px;
}

.search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    div{
        position: absolute;
        right: 10px;
        width: 16px;
        height: 16px;
    }
    input{
        padding: 5px 10px;
        border-radius: 15px;
        border: 1px solid $outline;
    }
}

.question{
    display: flex;
    border-top: 1px solid $outline;
    padding: 10px 0;
}

.left{
    flex-grow: 1;
    h4{
        margin-bottom: 10px;
        color: $darkest-green;
    }
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}