@import "../../partials/colors";

.tags{
    display: flex;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        background: $main-green;
        border: none;
        color: white;
        font-size: 13px;
        border-radius: 0 3px 3px 0;
    }
}

.left{
    background: white;
    border: 1px solid $outline;
    border-right: none;
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 3px 0 0 3px;
    position: relative;
    input{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        border: none;
        background: none;
        padding-left: 50px;
    }
}

.icon{
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}