@import "../../partials/colors";

.reminder{
    display: flex;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        background: $main-green;
        border: none;
        border-radius: 0 3px 3px 0;
    }
}

.left{
    background: white;
    border: 1px solid $outline;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 10px 15px;
    border-radius: 3px 0 0 3px;
}

.info{
    display: flex;
    
}

.icon{
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: $outline;
    margin-right: 15px;
    
}